/* style.css */

/* User-Agent Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-accent-color: #8214e0;
  --brand-name-black: #222222;
  --body-text-color: #222222;
  --body-background-color: #f0f0f0;
  --heading-font-family: 'Montserrat', sans-serif;
  --body-font-family: 'Roboto Condensed', sans-serif;

  /* --presents-font-family: 'Playfair Display', serif; */
  --presents-font-family: 'Cormorant Garamond', serif;
  /* --presents-font-family: 'Dancing Script', cursive; */
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  font-family: var(--body-font-family);
  text-align: center;
  margin: 0;
  background: linear-gradient(to bottom, #D0A3F0, #8214e0);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: var(--body-text-color);
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

main,
header,
footer {
  position: relative;
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: 500;
  color: transparent;
  font-size: 4rem;
  letter-spacing: 2rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #8214e0, #6A5ACD, #483D8B);
  -webkit-background-clip: text;
  background-clip: text;
}

h2 {
  font-family: var(--heading-font-family);
  font-weight: 500;
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

p {
  max-width: 74ch;
  margin: 3rem auto;
  padding-bottom: 3rem;
  line-height: 1.7;
  text-align: start;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
}

.content-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content-wrapper {
  border: 2px solid F8F8F8;
  padding: 40px 20px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 90%;
  background-color: rgba(248, 248, 248, 0.9);
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .content-container {
    max-width: 960px;
  }
  .content-wrapper {
    padding: 60px 20px;
  }
  h1 {
    font-size: 4.5rem;
  }
}

@media (min-width: 992px) {
  .content-container {
    max-width: 1200px;
  }
  .content-wrapper {
    padding: 80px 20px;
  }
  h1 {
    font-size: 5rem;
  }
}

@media (min-width: 1200px) {
  .content-container {
    max-width: 1440px;
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand-name {
  font-family: var(--heading-font-family);
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.3rem;
  margin-bottom: 20px;
  text-align: start;
  display: inline-block;
  text-transform: uppercase;
}

.accent-first {
  color: var(--brand-accent-color);
}

.brand-name span:last-child {
  color: var(--brand-name-black);
  display: block;
}

.brand-name-short {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}

.brand-name-short span:last-child {
  color: var(--brand-accent-color);
}

.presents-announcement {
  font-family: var(--presents-font-family);
  font-weight: 700;
  font-size: 2.75rem;
  letter-spacing: 0.3rem;
  text-align: center;
  margin: 15px 0 25px 0;
  order: 1;
}

main {
  flex-grow: 1;
}

footer {
  width: 100%;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left:  50px;
  margin-right: 50px;
  font-size: 1.5rem;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-left {
  text-align: left;
  justify-content: flex-start;
  display: inline-flex;
  align-items: center;
}

.footer-right {
  text-align: right;
  justify-content: flex-end;
}

.footer-left a {
  color: var(--body-text-color);
  text-decoration: none;
  margin-left: 0;
}

.footer-left a:hover {
  color: var(--brand-accent-color);
}

.footer-left .material-symbols-outlined {
    margin-right: 5px;
    font-size: 1.5rem;
    color: var(--brand-accent-color);
}

.social-links a {
  display: inline-block;
  margin: 0 10px;
}

.social-links img {
  width: 1.5rem;
  height: 1.5rem;
  transition: opacity 0.3s ease;
  filter: invert(36%) sepia(61%) saturate(2259%) hue-rotate(237deg) brightness(91%) contrast(90%);
}

.social-links img:hover {
  opacity: 0.7;
  filter: invert(46%) sepia(71%) saturate(2359%) hue-rotate(247deg) brightness(101%) contrast(100%);
}