/* style.css */

/* User-Agent Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root Variables */
:root {
  --brand-accent-color: #8214e0;
  --brand-name-black: #222222;
  --body-text-color: #222222;
  --body-background-color: #f0f0f0;
  --heading-font-family: 'Montserrat', sans-serif;
  --body-font-family: 'Roboto Condensed', sans-serif;
  --presents-font-family: 'Cormorant Garamond', serif;
  --main-element-spacing: 1rem; /* Define the spacing variable */
}

/* Base Styles */
html {
  font-size: 16px;
  height: 100%;
}

body {
  font-family: var(--body-font-family);
  text-align: center;
  margin: 0;
  background: linear-gradient(to bottom, #D0A3F0, #8214e0);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: var(--body-text-color);
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

main,
header,
footer {
  position: relative;
}

/* Main Content Styles */
main h1,
main h2,
main p {
  margin-top: var(--main-element-spacing);
  margin-bottom: var(--main-element-spacing);
}

main h1:first-child,
main h2:first-child,
main p:first-child {
  margin-top: 0;
}

main p {
  padding-bottom: var(--main-element-spacing);
  max-width: 74ch; /* ensure max width is still present */
  margin: var(--main-element-spacing) auto; /* Add margin auto to center */
  line-height: 1.7;
  text-align: start;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
}

/* Heading and Paragraph Styles */
h1 {
  font-family: var(--heading-font-family);
  font-weight: 500;
  color: transparent;
  font-size: 4rem;
  letter-spacing: 2rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #8214e0, #6A5ACD, #483D8B);
  -webkit-background-clip: text;
  background-clip: text;
}

h2 {
  font-family: var(--heading-font-family);
  font-weight: 500;
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
}

p {
  max-width: 74ch;
  line-height: 1.7;
  text-align: start;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
}

/* Layout Styles */
.content-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content-wrapper {
  border: 2px solid F8F8F8;
  padding: 40px 20px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 90%;
  background-color: rgba(248, 248, 248, 0.9);
  display: flex;
  flex-direction: column;
}

/* Header Styles */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand-name {
  font-family: var(--heading-font-family);
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.3rem;
  text-align: start;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.accent-first {
  color: var(--brand-accent-color);
}

.brand-name span:last-child {
  color: var(--brand-name-black);
  display: block;
}

.brand-name-short {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}

.brand-name-short span:last-child {
  color: var(--brand-accent-color);
}

.presents-announcement {
  font-family: var(--presents-font-family);
  font-weight: 700;
  font-size: 2.75rem;
  letter-spacing: 0.3rem;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 45px;
}

/* Footer Styles */
footer {
  width: 100%;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 1.5rem;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-left {
  text-align: left;
  justify-content: flex-start;
  display: inline-flex;
  align-items: center;
}

.footer-right {
  text-align: right;
  justify-content: flex-end;
}

.footer-left a {
  color: var(--body-text-color);
  text-decoration: none;
  margin-left: 0;
}

.footer-left a:hover {
  color: var(--brand-accent-color);
}

.footer-left .material-symbols-outlined {
  margin-right: 5px;
  font-size: 1.5rem;
  color: var(--brand-accent-color);
}

.social-links a {
  display: inline-block;
  margin: 0 10px;
}

.social-links img {
  width: 1.5rem;
  height: 1.5rem;
  transition: opacity 0.3s ease;
  filter: invert(36%) sepia(61%) saturate(2259%) hue-rotate(237deg) brightness(91%) contrast(90%);
}

.social-links img:hover {
  opacity: 0.7;
  filter: invert(46%) sepia(71%) saturate(2359%) hue-rotate(247deg) brightness(101%) contrast(100%);
}

/* Media Queries */
/* Media Queries */
@media (min-width: 1440px) { /* xxl breakpoint */
  .content-container {
    max-width: 1440px;
  }
  h1 {
    font-size: 4rem;
  }
}

@media (min-width: 1200px) { /* xl breakpoint */
  .content-container {
    max-width: 1200px;
  }
  h1 {
    font-size: 4rem; 
  }
}

@media (min-width: 992px) { /* lg breakpoint */
  .content-container {
    max-width: 992px;
  }
  h1 {
    font-size: 3.5rem;
  }
  main p {
    font-size: 1.3rem;
    max-width: 70ch;
  }
  .footer-content {
    font-size: 1.3rem;
  }
  .social-links img {
    width: 1.3rem;
    height: 1.3rem;
  }
  .social-links a {
    margin: 0 5px;
  }
}

@media (max-width: 768px) { /* md and smaller breakpoints */
  main p {
    font-size: 1.25rem;
  }
  .footer-content {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
  .footer-center,
  .footer-left,
  .footer-right {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .footer-center {
    order: 1;
  }
  .footer-left {
    order: 2;
    justify-content: center;
  }
  .footer-right {
    order: 3;
    justify-content: center;
  }
}