/* style.css */

:root {
  --brand-accent-color: #8214e0;
  --brand-name-black: #222222;
  --body-text-color: #222222;
  --body-background-color: #f0f0f0;
  --heading-font-family: 'Montserrat', sans-serif;
  --body-font-family: 'Roboto Condensed', sans-serif;
}

html {
  font-size: 16px; /* Set root font size */
  height: 100%;
}

body {
  font-family: var(--body-font-family);
  text-align: center;
  margin: 0;
  background: linear-gradient(to bottom, #D0A3F0, #8214e0);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: var(--body-text-color);
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

main,
header,
footer {
  position: relative;
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  color: transparent; /* Make text transparent */
  font-size: 3rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #8214e0, #6A5ACD, #483D8B); /* Add gradient */
  -webkit-background-clip: text; /* Clip gradient to text */
  background-clip: text;
}

h2 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  font-size: 1.5rem; /* added rem */
}

p {
  max-width: 74ch;
  margin: 20px auto;
  line-height: 1.6;
  text-align: start;
  font-size: 1rem; /* added rem */
}

.content-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content-wrapper {
  border: 2px solid F8F8F8;
  padding: 40px 20px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 90%;
  /* background-color: #fff; */
  background-color: rgba(248, 248, 248, 0.9); /* Add transparency */
}

/* Medium Screens (Tablets, 768px and up) */
@media (min-width: 768px) {
  .content-container {
    max-width: 960px;
  }

  .content-wrapper {
    padding: 60px 20px;
  }

  h1 {
    font-size: 4rem; /* Changed to rem */
  }
}

/* Large Screens (Desktops, 992px and up) */
@media (min-width: 992px) {
  .content-container {
    max-width: 1200px;
  }

  .content-wrapper {
    padding: 80px 20px;
  }

  h1 {
    font-size: 5rem; /* Changed to rem */
  }
}

/* Extra Large Screens (Large Desktops, 1200px and up) */
@media (min-width: 1200px) {
  .content-container {
    max-width: 1440px;
  }
}

.brand-name {
  font-family: var(--heading-font-family);
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: start;
  display: inline-block;
  text-transform: uppercase;
}

.brand-name span:first-child {
  color: var(--brand-name-black);
  display: block;
}

.brand-name span:last-child {
  color: var(--brand-accent-color);
  display: block;
}

.brand-name-short {
  font-family: var(--heading-font-family);
  font-size: 1.5rem; /* Changed to rem */
  /* margin-top: 30px; */
}

.brand-name-short span:first-child {
  color: var(--brand-name-black);
}

.brand-name-short span:last-child {
  color: var(--brand-accent-color);
}

footer {
  width: 100%;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Ensure vertical alignment of footer sections */
  padding: 20px;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
  display: flex; /* Add flex to footer sections */
  align-items: center; /* Add vertical alignment to content within footer sections */
  justify-content: center; /* keep the content centered */
}

.footer-left {
  text-align: left;
  justify-content: flex-start; /*align left content to the start*/
}

.footer-right{
  text-align: right;
  justify-content: flex-end; /*align right content to the end*/
}

.footer-left a {
  color: var(--body-text-color);
  text-decoration: none;
}

.footer-left a:hover {
  color: var(--brand-accent-color);
}

/* .social-links {
  margin-bottom: 20px;
} */

.social-links a {
  display: inline-block;
  margin: 0 10px;
}

.social-links img {
  width: 1.5rem; /* changed to rem */
  height: 1.5rem; /* changed to rem */
  transition: opacity 0.3s ease;
}

.social-links img:hover {
  opacity: 0.7;
}